# Python build artifacts
*.pyc
*.egg-info/
__pycache__
/dist/
/build/
/pip-wheel-metadata/

# Sphinx build artifacts
/docs/build

# Test/coverage artifacts
.coverage
/htmlcov

# Dev artifacts
/.mypy_cache
/.pytest_cache
/.vscode/.ropeproject
/.vscode/tags


