[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "<=5.0.1"
mypy = "*"
rope = "*"
black = "*"
flake8 = "*"
sphinx = "*"
doc8 = "*"
sphinx-autodoc-typehints = "*"
coverage = "*"
pytest-cov = "*"

[packages]
cryptography = ">=2.7"
pyage = {editable = true,path = "."}
bcrypt = "*"
pynacl = "*"
click = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true