[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "<=5.0.1"
mypy = "*"
rope = "*"
black = "*"
flake8 = "*"

[packages]
cryptography = ">=2.7"
pyage = {editable = true,path = "."}

[requires]
python_version = "3.7"
